@import '../App/App.css';

.footer {
    /* padding: 40px; */
    text-align: center;
    background-color: var(--main-purple);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
