@import '../App/App.css';

.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: var(--main-light-grey);
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: var(--main-purple);
}

.nav-link {
  float: left;
  color: var(--main-light-grey);
  background-color: var(--main-purple);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: var(--main-purple-hover);
}

.nav-right {
  float: right;
}